<!-- POST ITEM -->
<div class="blog-post-item">
	<img class="img-responsive" src="/jqueryMobile/images/451x300.jpg" alt="">
	<h2><a href="blog-single-default.html">BLOG IMAGE POST</a></h2>
	<ul class="blog-post-info list-inline">
		<li><a><i class="fa fa-clock-o"></i><span class="font-lato">Jan 00, 0000</span></a></li>
		<li><a href="#"><i class="fa fa-comment-o"></i> <span class="font-lato">0 Comments</span></a></li>
		<li><i class="fa fa-folder-open-o"></i><a href="#"><span class="font-lato">category</span></a><a" href="#"><span class="font-lato"> category name</span></a></li>
		<li><a href="#"><i class="fa fa-user"></i><span class="font-lato">name here</span></a></li>
	</ul>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

	<button class="ui-btn ui-icon-carat-r ui-btn-icon-right ui-shadow ui-corner-all">READ MORE</button>
</div>
<!-- POST ITEM -->
<div class="blog-post-item">
	<img class="img-responsive" src="/jqueryMobile/images/451x300.jpg" alt="">
	<h2><a href="blog-single-default.html">BLOG IMAGE POST</a></h2>
	<ul class="blog-post-info list-inline">
		<li><a><i class="fa fa-clock-o"></i><span class="font-lato">Jan 00, 0000</span></a></li>
		<li><a href="#"><i class="fa fa-comment-o"></i> <span class="font-lato">0 Comments</span></a></li>
		<li><i class="fa fa-folder-open-o"></i><a href="#"><span class="font-lato">category</span></a><a" href="#"><span class="font-lato"> category name</span></a></li>
		<li><a href="#"><i class="fa fa-user"></i><span class="font-lato">name here</span></a></li>
	</ul>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

	<button class="ui-btn ui-icon-carat-r ui-btn-icon-right ui-shadow ui-corner-all">READ MORE</button>
</div>
<!-- POST ITEM -->
<div class="blog-post-item">
	<img class="img-responsive" src="/jqueryMobile/images/451x300.jpg" alt="">
	<h2><a href="blog-single-default.html">BLOG IMAGE POST</a></h2>
	<ul class="blog-post-info list-inline">
		<li><a><i class="fa fa-clock-o"></i><span class="font-lato">Jan 00, 0000</span></a></li>
		<li><a href="#"><i class="fa fa-comment-o"></i> <span class="font-lato">0 Comments</span></a></li>
		<li><i class="fa fa-folder-open-o"></i><a href="#"><span class="font-lato">category</span></a><a" href="#"><span class="font-lato"> category name</span></a></li>
		<li><a href="#"><i class="fa fa-user"></i><span class="font-lato">name here</span></a></li>
	</ul>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

	<button class="ui-btn ui-icon-carat-r ui-btn-icon-right ui-shadow ui-corner-all">READ MORE</button>
</div>
<!-- POST ITEM -->
<div class="blog-post-item">
	<img class="img-responsive" src="/jqueryMobile/images/451x300.jpg" alt="">
	<h2><a href="blog-single-default.html">BLOG IMAGE POST</a></h2>
	<ul class="blog-post-info list-inline">
		<li><a><i class="fa fa-clock-o"></i><span class="font-lato">Jan 00, 0000</span></a></li>
		<li><a href="#"><i class="fa fa-comment-o"></i> <span class="font-lato">0 Comments</span></a></li>
		<li><i class="fa fa-folder-open-o"></i><a href="#"><span class="font-lato">category</span></a><a" href="#"><span class="font-lato"> category name</span></a></li>
		<li><a href="#"><i class="fa fa-user"></i><span class="font-lato">name here</span></a></li>
	</ul>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

	<button class="ui-btn ui-icon-carat-r ui-btn-icon-right ui-shadow ui-corner-all">READ MORE</button>
</div>
<!-- POST ITEM -->
<div class="blog-post-item">
	<img class="img-responsive" src="/jqueryMobile/images/451x300.jpg" alt="">
	<h2><a href="blog-single-default.html">BLOG IMAGE POST</a></h2>
	<ul class="blog-post-info list-inline">
		<li><a><i class="fa fa-clock-o"></i><span class="font-lato">Jan 00, 0000</span></a></li>
		<li><a href="#"><i class="fa fa-comment-o"></i> <span class="font-lato">0 Comments</span></a></li>
		<li><i class="fa fa-folder-open-o"></i><a href="#"><span class="font-lato">category</span></a><a" href="#"><span class="font-lato"> category name</span></a></li>
		<li><a href="#"><i class="fa fa-user"></i><span class="font-lato">name here</span></a></li>
	</ul>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

	<button class="ui-btn ui-icon-carat-r ui-btn-icon-right ui-shadow ui-corner-all">READ MORE</button>
</div>
<div class="ui-bar ui-bar-b pager-wrapper" style="margin-bottom:2em">
	<span class="info">Showing 6-10 of 20</span>
	<ul class="pager">
		<li><a id="blg-p01" href="javascript:void(0)"><i class="fa fa-2x fa-angle-left"></i></a></li>
		<li><a id="blg-p03" href="javascript:void(0)"><i class="fa fa-2x fa-angle-right"></i></a></li>
	</ul>
</div>