<div  class="ui-grid-b">
<div class="ui-block-a">
	<a href="#img-001" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 01</legend>
	<div data-role="popup" id="img-001">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-b">
	<a href="#img-002" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 02</legend>
	<div data-role="popup" id="img-002">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-c">
	<a href="#img-003" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 03</legend>
	<div data-role="popup" id="img-003">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-a">
	<a href="#img-004" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 04</legend>
	<div data-role="popup" id="img-004">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-b">
	<a href="#img-005" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 05</legend>
	<div data-role="popup" id="img-005">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-c">
	<a href="#img-006" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 06</legend>
	<div data-role="popup" id="img-006">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-a">
	<a href="#img-007" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 07</legend>
	<div data-role="popup" id="img-007">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-b">
	<a href="#img-008" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 08</legend>
	<div data-role="popup" id="img-008">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-c">
	<a href="#img-009" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 09</legend>
	<div data-role="popup" id="img-009">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-a">
	<a href="#img-010" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 10</legend>
	<div data-role="popup" id="img-010">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-b">
	<a href="#img-011" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 11</legend>
	<div data-role="popup" id="img-011">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-c">
	<a href="#img-012" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 12</legend>
	<div data-role="popup" id="img-012">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img  src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
</div>
<div class="ui-bar ui-bar-b pager-wrapper" data-role="content" style="margin-bottom:2em">
	<span id="glr-i" class="info">Showing 1-12 of 24</span>
	<ul class="pager">
		<li><a id="gal-p01" href="javascript:void(0)"><i class="fa fa-2x fa-angle-left"></i></a></li>
		<li><a id="gal-p02" href="javascript:void(0)"><i class="fa fa-2x fa-angle-right"></i></a></li>
	</ul>
</div>
<script>$.getScript("jqueryMobile/js/custom-routing.js");
$('#glr-pn').html(' 1');
$( "#img-001, #img-002, #img-003, #img-004, #img-005, #img-006, #img-007, #img-008, #img-009, #img-010, #img-011, #img-012" ).popup();</script>