<div  class="ui-grid-b">
<div class="ui-block-a">
	<a href="#img-013" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 13</legend>
	<div data-role="popup" id="img-013">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-b">
	<a href="#img-014" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 14</legend>
	<div data-role="popup" id="img-014">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-c">
	<a href="#img-015" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 15</legend>
	<div data-role="popup" id="img-015">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-a">
	<a href="#img-016" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 16</legend>
	<div data-role="popup" id="img-016">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-b">
	<a href="#img-017" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 17</legend>
	<div data-role="popup" id="img-017">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-c">
	<a href="#img-018" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 18</legend>
	<div data-role="popup" id="img-018">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-a">
	<a href="#img-019" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 19</legend>
	<div data-role="popup" id="img-019">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-b">
	<a href="#img-020" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 20</legend>
	<div data-role="popup" id="img-020">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-c">
	<a href="#img-021" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 21</legend>
	<div data-role="popup" id="img-021">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-a">
	<a href="#img-022" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 22</legend>
	<div data-role="popup" id="img-022">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-b">
	<a href="#img-023" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 23</legend>
	<div data-role="popup" id="img-023">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
<div class="ui-block-c">
	<a href="#img-024" data-rel="popup" data-transition="flip" data-position-to="window"><img class="thumbnail" src="/jqueryMobile/images/451x300.jpg"></img></a><legend>Image 24</legend>
	<div data-role="popup" id="img-024">
		<div data-role="header"><legend>Image</legend>
			<a href="#main-content" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"></a><img  src="/jqueryMobile/images/451x300.jpg">
		</div>
	</div>
</div>
</div>
<div class="ui-bar ui-bar-b pager-wrapper" data-role="content" style="margin-bottom:2em">
	<span class="info">Showing 13-24 of 24</span>
	<ul class="pager">
		<li><a id="gal-p01" href="javascript:void(0)"><i class="fa fa-2x fa-angle-left"></i></a></li>
		<li><a id="gal-p02" href="javascript:void(0)"><i class="fa fa-2x fa-angle-right"></i></a></li>
	</ul>
</div>
<script>$( "#img-013, #img-014, #img-015, #img-016, #img-017, #img-018, #img-019, #img-020, #img-021, #img-022, #img-023, #img-024" ).popup();</script>