<div class="labels">
		<legend>Trash</legend><legend class="blu">Page 01</legend>								
	</div>
		<table class="table-condensed message-table">											
			<tbody>
				<tr>
					<td>
						<div class="ui-checkbox"><label class="fancy-checkbox ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
						</label><input type="checkbox"></div>
					</td>
					<td><span class="from">Name</span></td>
					<td><span class="title">Trash</td>
					<td><span class="timestamp">12:01 PM</span></td>
				</tr>
				<tr>
					<td>
						<div class="ui-checkbox"><label class="fancy-checkbox ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
						</label><input type="checkbox"></div>
					</td>
					<td><span class="from">Name</span></td>
					<td><span class="title">Trash</td>
					<td><span class="timestamp">12:01 PM</span></td>
				</tr>
				<tr>
					<td>
						<div class="ui-checkbox"><label class="fancy-checkbox ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
						</label><input type="checkbox"></div>
					</td>
					<td><span class="from">Name</span></td>
					<td><span class="title">Trash</td>
					<td><span class="timestamp">12:01 PM</span></td>
				</tr>
				<tr>
					<td>
						<div class="ui-checkbox"><label class="fancy-checkbox ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
						</label><input type="checkbox"></div>
					</td>
					<td><span class="from">Name</span></td>
					<td><span class="title">Trash</td>
					<td><span class="timestamp">12:01 PM</span></td>
				</tr>
				<tr>
					<td>
						<div class="ui-checkbox"><label class="fancy-checkbox ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
						</label><input type="checkbox"></div>
					</td>
					<td><span class="from">Name</span></td>
					<td><span class="title">Trash</td>
					<td><span class="timestamp">12:01 PM</span></td>
				</tr>
				<tr>
					<td>
						<div class="ui-checkbox"><label class="fancy-checkbox ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
						</label><input type="checkbox"></div>
					</td>
					<td><span class="from">Name</span></td>
					<td><span class="title">Trash</td>
					<td><span class="timestamp">12:01 PM</span></td>
				</tr>
				<tr>
					<td>
						<div class="ui-checkbox"><label class="fancy-checkbox ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
						</label><input type="checkbox"></div>
					</td>
					<td><span class="from">Name</span></td>
					<td><span class="title">Trash</td>
					<td><span class="timestamp">12:01 PM</span></td>
				</tr>
				<tr>
					<td>
						<div class="ui-checkbox"><label class="fancy-checkbox ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
						</label><input type="checkbox"></div>
					</td>
					<td><span class="from">Name</span></td>
					<td><span class="title">Trash</td>
					<td><span class="timestamp">12:01 PM</span></td>
				</tr>
				<tr>
					<td>
						<div class="ui-checkbox"><label class="fancy-checkbox ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
						</label><input type="checkbox"></div>
					</td>
					<td><span class="from">Name</span></td>
					<td><span class="title">Trash</td>
					<td><span class="timestamp">12:01 PM</span></td>
				</tr>
				<tr>
					<td>
						<div class="ui-checkbox"><label class="fancy-checkbox ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
						</label><input type="checkbox"></div>
					</td>
					<td><span class="from">Name</span></td>
					<td><span class="title">Trash</td>
					<td><span class="timestamp">12:01 PM</span></td>
				</tr>
			</tbody>
		</table>
		<div class="ui-bar ui-bar-b pager-wrapper">
			<span class="info">Showing 1-10 of 10</span>
			<ul class="pager">
				<li><a href="javascript:void(0)"><i class="fa fa-2x fa-angle-left"></i></a></li>
				<li><a href="javascript:void(0)"><i class="fa fa-2x fa-angle-right"></i></a></li>
			</ul>
		</div>